:root{
    --primary-text-color:#212121;
    --primary-bg-color:#FFFFFF;
    --accent-color:#2196F3;
    --secondary-text-color:#757575;
    --secondary-bg-color:#2F303A;

}

body{
    background:var(--primary-bg-color);
    color: var(--secondary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}

/* Основной контейнер */
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Section */
.section-title{
    margin-top:0;
    margin-bottom:50px;
    color: var(--primary-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
/* Header */
header{
    border-bottom:1px solid #ECECEC;
        align-items: center;
        margin-top: 0;
    }
.main-menu{
    display: flex;
}
/* Logo */
.logo{
    display: block;
    margin-right: 93px;
    padding: 24px 0 25px 0;
    color: var(--accent-color);
    font-family: Raleway, normal;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
}

.half-logo{
    color: #000000;
}

/* Site nav */
nav{
    display: flex;
    align-items: center;
}

.main-nav{
    display: flex;
    align-items: center;
}

.email{
    margin-right: 50px;
}

.contact-mail,
.contact-phone {
  display: flex;
  align-items: center;
  padding: 32px 0;

  color: var(--secondary-text-color);
}

.contact-mail:hover,
.contact-phone:hover,
.contact-mail:focus,
.contact-phone:focus {
  color: var(--accent-color);
}

.mail-icon,
.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav.current {
    color: var(--accent-color);
  }

.site-nav{
    display: flex;
    margin:0; 
}

.site-nav .item + .item {
	margin-left: 50px;
}

.site-nav .list{
    display: block;
    padding:32px 0;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .list:hover,
.site-nav .list:focus{
    color:var(--accent-color);
}
.contact-nav{
    display: flex;
    margin-left: auto;
}

/* .email::before{
    content:"";
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../images/icon/envelope.png);
    background-size: contain;
} */

.contact-nav .item:not(:last-child){
    margin-right: 50px;
}
.site-nav .list.current,
.contact-nav .list.current{
    color:var(--accent-color);
}

.contact-nav .list:hover,
.contact-nav .list:focus{
    color:var(--accent-color);
}

.contact-nav .list{
    /* display: block; */
    display: flex;
    padding: 32px 0; 
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* Hero */
.hero{
    padding: 200px 0;
    text-align: center;     
    background-color: var(--secondary-bg-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
         ), 
        url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    letter-spacing: 0.06em;
}

.hero-title {
    padding:0;
    margin: 0 auto 30px auto;
    width: 696px;
    color: var(--primary-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

/* Button */
.button{
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
    background-color: var(--accent-color);
    cursor: pointer;
    margin: 0 auto;
    display: block;
    font-family: inherit;
    border: 1px solid transparent;
}
.hero-button{
    color:var(--primary-bg-color);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus{
    background-color:#188CE8;
}

/* Feature */
.feature{
    padding: 94px 0;
}
.feature-list{
    display: flex;
    margin: 0;
    padding:0;
}

.feature-list .item{
    width: 270px;
    
}
.feature-list .item+ .item {
margin-left: 30px;
}

.feature-list .title{
    margin-top:0;
    margin-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-list p{
    margin-top:0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-bottom: 30px;
    height: 120px;
  
    background-color: #f5f4fa;
    border-radius: 4px;
  }
/* Чем занимашся */
.profession{
    padding-bottom: 94px;;
}
.profession ul{
    display:flex;
    flex-wrap: wrap;
}

.profession-list .item:not(:last-child){
    margin-right: 30px;
}
/* Our team */
.team{
    padding: 94px 0;
    background-color: #F5F4FA;
}
        .team .container {
            flex-direction: column;
        }

.team ul{
    display:flex;
    /* flex-wrap: wrap;
    justify-content: space-evenly; */
}

.team-card{
    background: var(--primary-bg-color);
    width: 270px;
        overflow: hidden;

}
.team-list .team-card:not(:last-child){
    margin-right: 30px;
}

.team-container{
    padding: 30px 0;
}
.team-card{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card h3{
    padding: 0;
    margin: 0  0 10px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-card p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.team-soc-list{
    display:flex;
    margin-top: 16px;
    justify-content: center;
}

.team-soc-link{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.team-soc-item{
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.team-soc-icon{
    fill:#AFB1B8;
}

.team-soc-item:first-child{
    margin-left: 0;
}

.team-soc-link:hover, 
.team-soc-link:focus {
    background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon, 
.team-soc-link:focus .team-soc-icon{
    fill:var(--primary-bg-color);
}

.clients-title {
    margin-top: 0;
    margin-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--primary-text-color);
  }
  
  .clients-list {
    display: flex;
    justify-content: center;
  }
  
  .clients-item {
    width: 170px;
    height: 92px;
    margin-left: 30px;
  }
  
  .clients-item:first-child {
    margin-left: 0;
  }
  
  .clients-link {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  
    width: 100%;
    height: 100%;
  
    border: 1px solid var(--soc-icons-primary-color);
    border-radius: 4px;
    color: var(--soc-icons-primary-color);
  }
  
  .clients-icon {
    fill: currentColor;
  }
  
  .clients-link:hover,
  .clients-link:focus {
    color: #AFB1B8;;
    border: #AFB1B8;
  }

/* Footer */

footer{
    padding: 60px 0;
    background-color: var(--secondary-bg-color);
}
.footer-icon{
    padding-bottom: 20px;
}

.half-logo-footer{
    color: var(--primary-bg-color);
}

.logo-footer{
    color: var(--accent-color);
    font-family: Raleway, normal;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
}
footer .list{
    color:rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-nav .city{
    color: var(--primary-bg-color);
}

footer li:not(:last-child){
    margin-bottom: 9px;
}

address {
    font-style: normal
  }

/* Portfolio */
/* Filtres */
.filtres ul{
    display: flex;
    justify-content: center;
    margin: 0 auto 50px;
}

.filtres .item:not(:last-child){
    margin-right: 8px;
}

.filtres button{
    padding: 6px 22px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    font-family: inherit;
    border-style: none;
    cursor: pointer;
}

.filtres button:hover,
.filtres button:focus{
    color:var(--primary-bg-color);
    background-color: var(--accent-color);
}

/* Portfolio card */
.portfolio{
    padding: 94px 0;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
}
.portfolio-card{
    background: var(--primary-bg-color);
    margin-right: 30px;
    margin-bottom: 30px;
    outline: 1px solid #EEEEEE;
}

.portfolio-card:nth-child(3n){
    margin-right: 0;
}

.portfolio-card:nth-last-child(-n+3){
    margin-bottom: 0;
}
.portfolio-description{
    padding: 20px 24px;
}

.portfolio-card h2{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.portfolio-card p{
    margin: 4px 0 0 0;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}